.experiment-card {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 10px 20px;
    background: #FFF;
    border: 1px solid #2cb79a;;
    border-radius: 4px;
    color: black;
}
.experiment-card .card-header {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}
.experiment-card .experiment-open:before{
    content: 'Aberto';
    text-align: right;
    font-weight: bold;
    color: green;
}

.experiment-card .experiment-closed:before{
    content: 'Fechado';
    text-align: right;
    font-weight: bold;
    color: red;
}


.experiment-card p {
    color: #144084;
}